<dialog class="modal" id="modal">
    <h2>Extension Settings (v${version})</h2>
    <div class="settings-checkbox">
        <input type="checkbox" id="modal-settings-bookmark-save" ${bookmarkSaveChecked} />
        <label for="modal-settings-bookmark-save">Save workspaces to bookmarks</label>
    </div>
    <div class="settings-checkbox">
        <input type="checkbox" id="modal-settings-sync-save" ${syncSaveChecked} />
        <label for="modal-settings-sync-save">Sync workspaces to cloud</label>
    </div>    
    <div class="settings-checkbox">
        <input type="checkbox" id="modal-settings-debug" ${debugChecked} />
        <label for="modal-settings-debug">Enable debug tools</label>
    </div>
    <div class="debug-tool" style="display: ${debugVisibility};">
        <h3>Cloud Data</h3>
        <input type="button" id="modal-settings-sync-fetch" value="Fetch" />
        <input type="button" id="modal-settings-sync-push" value="Push" />
        <input type="button" id="modal-settings-sync-clear" value="Delete" />
    </div>
    <h3>Local Data</h3>
    <input type="button" id="modal-settings-export" value="Export to file" />
    <input type="button" id="modal-settings-import" value="Import from file" />

    <div class="modal-settings-bottom">
        <button id="modal-settings-close" class="close">Close</button>
    </div>
</dialog>