<div id="${workspaceId}" class="workspace-item">
    <div class="workspace-item-interior">
        <div class="workspace-button">${workspaceName}<span class="workspace-button-tabs">${tabsCount} tabs</span></div>
        <div class="workspace-item-right">
            <!-- <span alt="More" id="settings-button" class="material-icons icon-button">more_horiz</span> -->
            <span alt="Edit" id="edit-button" class="material-icons icon-button">edit</span>
            <span alt="Delete" id="delete-button" class="material-icons icon-button">delete</span>
        </div>
    </div>
</div>