
/* normalize css starts here */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* normalize css ends here */

:root {
    --primary-color: #3f51b5; /* Indigo */
    --primary-variant-color: #303f9f; /* Indigo variant */
    --secondary-color: #ff4081; /* Pink */
    --on-primary-color: #ffffff; /* White */
    --on-secondary-color: #000000; /* Black */
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #121212; /* Dark */
        --surface-color: #121212; /* Dark */
        --error-color: #cf6679; /* Red */
        --on-background-color: #ffffff; /* White */
        --on-surface-color: #ffffff; /* White */
        --on-error-color: #000000; /* Black */
    }
}
@media (prefers-color-scheme: light) {
    :root {
        --background-color: #ffffff; /* White */
        --surface-color: #ffffff; /* White */
        --error-color: #b00020; /* Red */
        --on-background-color: #000000; /* Black */
        --on-surface-color: #000000; /* Black */
        --on-error-color: #ffffff; /* White */
    }
}

html {
    /* font-family: Segoe UI, Helvetica, Arial, sans-serif; */
}

body {
    width: 350px;
    height: 300px;

    color: var(--on-background-color);
    background-color: var(--background-color);
}

.app {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

.title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 12px;
}

h1 {
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 10px;

}

.header-bar {
    display: flex;
    justify-content: space-between;
    align-items: left;
    width: 100%;
    margin-bottom: 20px;

}

.header-bar-right {
    display: flex;
    align-items: center;
}

.header-bar-right img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

img#addIcon:hover {
    cursor: pointer;
    fill: white;
    /* Added to change the SVG color to white */
}

.counter-label {
    font-size: 12px;
    margin-bottom: 5px;
}

.counter {
    font-size: 36px;
    font-weight: 700;
}

.button-container {
    margin-top: 15px;
}

.button {
    border: 0;
    display: inline-block;
    padding: 10px 20px;
    margin-right: 4px;
    margin-left: 4px;
    background-color: var(--primary-color);
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
    transition: transform .2s ease;
    user-select: none;
}

.button:focus {
    outline: none;
}

.button:hover {
    transform: scale(1.1);
}

.divider {
    margin: 30px auto 25px;
    width: 50px;
    border: .5px dashed #000;
    opacity: .1;
}

/* ## Workspaces List Items ## */
.workspaces {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.workspace-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid var(--on-background-color);

}

.workspace-item .workspace-button {
    display: inline-block;
    background: none !important;
    border: none;
    padding: 0 !important;
    color: var(--primary-color);
    text-decoration: underline;
    cursor: pointer;
}

.workspace-item-right {
    display: flex;
    align-items: right;
}

.icon-button {
    cursor: pointer;
}

.modal {
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
::backdrop {
    background-image: linear-gradient(
      45deg,
      magenta,
      rebeccapurple,
      dodgerblue,
      green
    );
    opacity: 0.75;
  }