/* normalize css starts here */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* normalize css ends here */

:root {
    /* Colors */
    /* Green = should be overridden */
    --primary-color: #757575;
    --primary-variant-color: #00ff00;
    --secondary-color: #00ff00;
    --surface-color: #00ff00;
    --surface-container-color: #00ff00;
    --error-color: #00ff00;
    --on-primary-color: #00ff00;
    --on-secondary-color: #00ff00;
    --on-surface-color: #00ff00;
    --on-surface-variant-color: #00ff00;
    --on-error-color: #00ff00;

    /* Dimensions */
    --item-padding: 5px;
    --item-margin: 5px;
    --subitem-margin: 10px;
}

@media (prefers-color-scheme: dark) {
    :root {
        /* --primary-color: #00ff00; */
        --secondary-color: #00ff00;
        --surface-color: #333333;
        --surface-container-color: #414141;
        --error-color: #cf6679;
        --on-error-color: #000000;
        --on-primary-color: #00ff00;
        --on-secondary-color: #00ff00;
        --on-surface-color: #ffffff;
        --on-surface-variant-color: #b3b3b3;
        --on-error-color: #00ff00;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        /* --primary-color: #000000; */
        --secondary-color: #00ff00;
        --surface-color: #ffffff;
        --surface-container-color: #b8b6b6;
        --error-color: #b00020;
        --on-error-color: #000000;
        --on-primary-color: #00ff00;
        --on-secondary-color: #00ff00;
        --on-surface-color: #000000;
        --on-surface-variant-color: #363636;
        --on-error-color: #ffffff;
    }
}

body {
    width: 350px;
    min-height: 150px;
    /* height: 300px; */

    color: var(--on-surface-color);
    background-color: var(--surface-color);
}

/*
 * Make the inputs look more modern
 */
 input, button {
    background-color: var(--surface-container-color);
    color: var(--on-surface-color);
    border: none;
    padding: 5px 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
}

.sidebar {
    /* To override the width in body */
    width: 100%;
}

.app {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

.title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 12px;
}

h1 {
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 10px;

}

.header-bar {
    display: flex;
    justify-content: space-between;
    /* align-items: left; */
    width: 100%;
    margin-bottom: 0px;

}

.header-bar-right {
    display: flex;
    align-items: center;
    padding-right: var(--item-padding);
    margin-right: var(--item-margin);
}

.header-bar-right img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

img#addIcon:hover {
    cursor: pointer;
    fill: white;
    /* Added to change the SVG color to white */
}

.icon-button {
    cursor: pointer;
}

.icon-button:hover {
    color: var(--primary-color);
}

.divider {
    margin: 30px auto 25px;
    width: 50px;
    border: .5px dashed #000;
    opacity: .1;
}

/* ## Workspaces List Items ## */
.workspaces {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.workspace-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 10px 0; */
    /* border-bottom: 1px solid var(--on-background-color); */
}

.workspace-item-interior {
    width: 100%;
    margin: var(--item-margin);
    padding: var(--item-padding);
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    border-radius: 5px;
    cursor: pointer;
}

.workspace-item-interior:hover {
    background-color: var(--surface-container-color);
}

.workspace-current {
    font-weight: 700;
}

.workspace-item .workspace-button {
    display: inline-block;
    background: none;
    border: none;
    padding: 0;
    /* color: var(--primary-color); */
    cursor: pointer;
}

.workspace-button-tabs {
    margin: 0px 0px var(--subitem-margin) var(--subitem-margin);
    color: var(--on-surface-variant-color);
}

.workspace-item-right {
    display: flex;
    /* align-items: right; */
    cursor: default;
}

.modal {
    top: 50%;
    left: 50%;
    background-color: var(--surface-color);
    color: var(--on-surface-color);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    /* TRBL */
    padding: 5px;
    border: 0px;
}

.modal h2,
.modal h2 {
    margin-bottom: 2px;
}

.modal #modal-settings-close {
    width: 100%;
}

.modal .modal-settings-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
}

#modal-add-workspace {    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;

}

#modal-input-name {
    margin-top: 3px;
}

::backdrop {
    background-image: linear-gradient(45deg,
            rebeccapurple,
            rebeccapurple,
            rebeccapurple,
            rebeccapurple);
    opacity: 0.75;
}